.image{
    height: 50vh;
    width: 100%;
    border-radius: 0.5rem;
}

.category{
    background-color: #dddddd; 
    padding: 0.5rem;
    border-radius: 4rem; 
    }
    .category__title{
    color: black;
    font-size: 0.8rem;
    font-weight: bolder;
    }
.createdAt{
    margin: 1.2rem 0;
}

.title{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}