.container {
  padding-top: 2.4rem;
  background-color: #53bd95;
  padding-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.2rem;
  margin-top: 3.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   background-image: url("http://images.ctfassets.net/tsumbni5bwzx/7m46FKtouOi6TZCMSZqHTG/d59e15437023158f56422f8e5ce959e6/luke-chesser-LfSuZbuqzco-unsplash.jpg?w=800&q=50");
}
.title {
  font-weight: bold;
  font-size: 1.8rem;
  color: #fff;
}
