$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99); 

.header__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}
.logo{
    color: #000000;
    font-weight:bolder;
    font-size: 1.3rem;
}

.nav__container{
    display: flex;
    justify-content: space-between;
}
.nav__item{
    list-style: none;
    margin-left: 0.4rem;
}
.nav__link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.menu__container{
    margin-left: 1.2rem;
    cursor: pointer;
}