.header__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}
.logo{
    color: #000000;
    font-weight:bolder;
}

.nav__container{
    display: flex;
    justify-content: space-between;
}
.nav__item{
    list-style: none;
    margin-left: 0.4rem;
}
.nav__link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
